* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  padding: 2%;
  width: 100%;
  height: 100vh;
}

.monitor {
  width: 100%;
  height: 40%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  margin-bottom: 5%;
}

input {
  width: 100%;
}

.keypad {
  height: 55%;
}
